.countdown {
  position: relative;
  background-size: cover;
  background-position: center center;
  transform-origin: center bottom;
}

.countdown__icon {
  position: absolute;
  top: 0;
  left: 0;
  fill: transparent;
  stroke: var(--color-accent);
  stroke-width: 3px;
  stroke-linecap: round;
  pointer-events: none;
}

.countdown__icon__circle {
  stroke-dasharray: 316;
  transition: stroke-dashoffset 1s linear;
}
